* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-height: 100vh;
    background-color: grey;
}

body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.button {
    position: absolute;
    aspect-ratio: 1;
    width: 20vw;
    display: none;
    border-radius: 50%;
    z-index: 2;
}

.display {
    display: inline-block;
}

.score {
    position: absolute;
    top: calc(50vh - 100vw / 32 * 9);
    right: 1vw;
    text-align: end;
    font-size: 5em;
    font-family: arcade;
}

.high-score {
    position: absolute;
    right: 1vh;
    top: calc(50vh - 100vw / 32 * 9 + 100px);
    text-align: end;
    font-size: 2em;
    font-family: arcade;
}

@font-face {
    font-family: arcade;
    src: url(ka1.ttf);
}